<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-refresher slot="fixed" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
<ion-grid>
  <ion-list>
    <form [formGroup]="formRegistro" (submit)="send()">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input type="number" formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
        </ion-col>  
        <ion-col>
          <ion-button color="light"  expand="block" (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-button>
        </ion-col>     
        <ion-col>
        </ion-col>   
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-button [disabled]="formRegistro.invalid" type="submit" color="primary" size="large" expand="block">
            Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
    

  </ion-list>
</ion-grid>



</ion-content>