<ion-app>
  <ion-split-pane contentId="main-content">
  </ion-split-pane>
  <ion-menu contentId="main-content">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>{{user.nombre}}</ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *ngIf="user?.nombre">
          <ion-item routerDirection="root" routerLink="/" lines="none" detail="false" routerLinkActive="selected" (click)="logout()">
            <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
    
  
