<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-card>
      <img [src]="image" />
      <ion-card-header>
        <ion-card-title>{{user.nombre}}</ion-card-title>
        <ion-card-subtitle>{{user.telefono}}</ion-card-subtitle>

      </ion-card-header>


    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button [hidden] = "!fingerprint" type="submit" color="light" size="large" expand="block" (click)="registrar()">
          Registrar<ion-icon name="finger-print-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>