<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="movie">
  <ion-item>
    <ion-icon name="videocam" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ movie.titulo }}
        <span class="date">
          <ion-note>{{ movie.descripcion }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
 
    <iframe width="100%" height="315" [src]="safeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>
  <div>
    <div [style.color]="index==0?'#be1100':index==1?'red':index==2?'#f48771':index==3?'#b89500':'green'">
      <ul>
        <li *ngFor="let i of movieStars;let in=index" [style.color]="in>index?'gray':'inherit'" (click)="onClickItem(in)"><ion-icon name="star"></ion-icon></li>
      </ul>
    </div>
   
  </div>
</ion-content>
