<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trailers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Trailers
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-divider color="medium">
      <ion-label class="ion-text-center">
        Terror
      </ion-label>
      <ion-button color="medium" slot="end" shape="round" (click)="terrorConrol.change()">
        <ion-icon [name]="terrorConrol.name()"></ion-icon>
      </ion-button>


    </ion-item-divider>

    <ion-slides [hidden]="terrorConrol.value()" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let movie of getMovies().terror">
        <ion-card>
          <a [routerLink]="['/home/movie','terror',movie.id]"><img [src]="movie.image" /></a>


          <ion-card-header>
            <ion-card-title>{{movie.titulo}}</ion-card-title>
            <ion-card-subtitle>{{movie.descripcion}}</ion-card-subtitle>

          </ion-card-header>


        </ion-card>

      </ion-slide>

    </ion-slides>
    <ion-item-divider color="medium">
      <ion-label>
        Si-Fi
      </ion-label>
      <ion-button color="medium" slot="end" shape="round" (click)="sifiConrol.change()">
        <ion-icon [name]="sifiConrol.name()"></ion-icon>
      </ion-button>
        </ion-item-divider>

    <ion-slides [hidden]="sifiConrol.value()" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let movie of getMovies().sifi">
        <ion-card>
          <a [routerLink]="['/home/movie','sifi',movie.id]"><img [src]="movie.image" /></a>


          <ion-card-header>
            <ion-card-title>{{movie.titulo}}</ion-card-title>
            <ion-card-subtitle>{{movie.descripcion}}</ion-card-subtitle>

          </ion-card-header>


        </ion-card>
      </ion-slide>

    </ion-slides>
    <ion-item-divider color="medium">
      <ion-label>
        Anime
      </ion-label>
      <ion-button color="medium" slot="end" shape="round" (click)="animeConrol.change()">
        <ion-icon [name]="animeConrol.name()"></ion-icon>
      </ion-button>    </ion-item-divider>

    <ion-slides [hidden]="animeConrol.value()" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let movie of getMovies().anime">
        <ion-card>
          <a [routerLink]="['/home/movie','anime',movie.id]"><img [src]="movie.image" /></a>


          <ion-card-header>
            <ion-card-title>{{movie.titulo}}</ion-card-title>
            <ion-card-subtitle>{{movie.descripcion}}</ion-card-subtitle>

          </ion-card-header>


        </ion-card>
      </ion-slide>

    </ion-slides>


  </ion-list>
</ion-content>